body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f96df;
    color: #ffff;
}
button{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px; 
    margin: 0 10px;
    background-color: #9f96df;
    color: #ffff;
    font-size: 18px;
}
.container{
    min-width: 500px;
    height: auto;
    background-color:#162740;
    padding: 40px;
    border-radius: 20px;
    margin: 100px;

}
.container .content{
    display: flex;
   justify-content: start;
    flex-direction: column;
}
#headline{
    background-color: #243d64;
    width: fit-content;
    padding: 10px;
    position: relative;
    bottom: 80px;
}
#taskInput{
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    color: #ffff;
    width: 70%;
    border: none;
    outline: #9f96df 2px solid;
    font-size: 18px;
}
ul li{
    font-size: 20px !important;
    margin: 10px 0;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
}
ul li i:hover{
    color: red;
}
input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  
 label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #9f96df;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    border-radius: 4px;
   
  }
  
 input[type="checkbox"]:checked + label {
    background-color: #9f96df;
    color: white !important;
  }
  
 input[type="checkbox"]:checked + label::after {
    content: '✓';
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }